# COVID mortality rate by testing

In [2]:
library(rvest)
library(data.table)
library(stringr)
library(meta)

In [3]:
# timestamp for saving the file. 
timestamp  = Sys.time()

cases_url = 'https://www.worldometers.info/coronavirus/'
cases = read_html(cases_url)  
casedata = html_nodes(cases, '#main_table_countries_today')
cdt = html_table(casedata)

# extract the updating time 
timest = html_nodes(cases,'div:nth-child(5)')
ts = html_text(timest)[[1]]

In [4]:
# turn the data into a data.table object
cdt = setDT(cdt[[1]])
setnames(cdt,old = 'Country,Other', new = 'Country')
cdt[,TotalDeaths:=as.numeric(str_replace(TotalDeaths,",",""))]
cdt[,TotalCases:=as.numeric(str_replace(TotalCases,",",""))]

In [5]:
# change character to numeric variables 
cdt[,TotalDeaths:=as.numeric(TotalDeaths)] 
cdt[,NewDeaths:=as.numeric(NewDeaths)]
cdt[is.na(TotalDeaths), TotalDeaths:=0]
cdt[is.na(NewDeaths), NewDeaths:=0]
cdt[,CFR:=((TotalDeaths)/TotalCases)*100, by = Country]
cdt[Country=="S. Korea", Country:="South Korea"]

In [6]:
# Exclusions 
cdt2 = cdt[TotalDeaths > 3]
cdt3 = cdt2[!{Country=="Diamond Princess" | Country=="Total:"}]
cdt3

   Country     TotalCases NewCases TotalDeaths NewDeaths TotalRecovered
1  China       81008      +41      3255          7       71,740
2  Italy       47021               4032          0       5,129
3  Spain       24926      +3,355   1326        233       2,125
4  Iran        20610      +966     1556        123       7,635
5  Germany     20581      +733       72          4       209
6  USA         19775      +392      276         20       147
7  France      12612                450          0       1,587
8  South Korea  8799      +147      102          8       2,612
9  Switzerland  6186      +571       58          2       15
10 UK           3983                177          0       65
11 Netherlands  2994                106          0       2
12 Belgium      2815      +558       67         30       263
13 Austria      2719      +70         7          1       9
14 Norway       1995      +36         7          0       1
15 Sweden       1657      +18        16          0       16
16 Denmark      1326      +71        13          4       1
17 Portugal     1280      +260       12          6       5
18 Malaysia     1183      +153        4          1       114
19 Canada       1087                 12          0       14
20 Australia    1068      +140        7          0       46
21 Japan        1007                 35          0       215
22 Brazil        978      +8         11          0       2
23 Turkey        670                  9          0
24 Luxembourg    670      +186        8          3       6
25 Greece        495                 10          0       19
26 Indonesia     450      +81        38          6       20
27 Poland        439      +14         5          0       13
28 Ecuador       426                  7          0       3
29 Philippines   307      +77        19          1       13
30 Egypt         285                  8          0       42
31 India         283      +34         5          0       23
32 Hong Kong     273      +17         4          0       98
33 Peru          263                  4          0       1
34 Iraq          208                 17          0       49
35 Lebanon       187      +10         4          0       8
36 San Marino    151                 14          0       4
37 Hungary       103      +18         4          0       7
38 Algeria        95      +1         11          0       32
   ActiveCases Serious,Critical Tot Cases/1M pop CFR
1  6,013       1,927            56                4.0181217
2  37,860      2,655            778               8.5748921
3  21,475      939              533               5.3197464
4  11,419                       245               7.5497331
5  20,300      2                246               0.3498372
6  19,352      64               60                1.3957016
7  10,575      1,297            193               3.5680304
8  6,085       59               172               1.1592226
9  6,113       141              715               0.9376010
10 3,741       20               59                4.4438865
11 2,886       210              175               3.5404142
12 2,485       288              243               2.3801066
13 2,703       15               302               0.2574476
14 1,987       27               368               0.3508772
15 1,625       69               164               0.9656005
16 1,312       42               229               0.9803922
17 1,263       26               126               0.9375000
18 1,065       26               37                0.3381234
19 1,061       1                29                1.1039558
20 1,015       2                42                0.6554307
21 757         50               8                 3.4756703
22 965         18               5                 1.1247444
23 661                          8                 1.3432836
24 656         1                1,070             1.1940299
25 466         20               47                2.0202020
26 392                          2                 8.4444444
27 421         3                12                1.1389522
28 416         2                24                1.6431925
29 275         1                3                 6.1889251
30 235                          3                 2.8070175
31 255                          0.2               1.7667845
32 171         4                36                1.4652015
33 258         5                8                 1.5209125
34 142                          5                 8.1730769
35 175         3                27                2.1390374
36 133         12               4,450             9.2715232
37 92          6                11                3.8834951
38 52                           2                11.5789474

In [7]:
# Change the layour of the confidence interval 
cilayout(bracket = "(", separator = " to ")

In [8]:
# Run the meta-analysis 
MA = metaprop(event = TotalDeaths, 
              n = TotalCases, 
              data = cdt3,
              studlab = Country,
              comb.random = F, 
              prediction  = T,
              method = "Inverse",
)

In [9]:
fnm = paste0("CFR_analysis_",substring(timestamp,0,10),".png")
png(filename = fnm, res = 300, height= 2400, width = 3000)
forest(MA,sortvar = -cdt3$CFR,prediction = T,leftlabs = c("Country","Deaths","Cases"), digits.tau2 = 2, 
       pscale = 100, rightlabs = c("Case Fatality (%)","95%-CI"),#xlim=c(0,45), 
       overall = F, colgap.left = "4mm",fontsize = 10,
       text.addline1 = "\n", text.addline2 = paste0(ts), 
       ff.addline = "bold")

dev.off()
# Copy to current file name
file.copy(fnm, "CFR_analysis.png")

png
  2

[1] TRUE

![title](./CFR_analysis.png)